.im{
    width: 4.5%;
}
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat',sans-serif;
}
a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    margin-top: 0%;
    margin-right: 5px;
    line-height: 120px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
header ul li{
    margin-right: 30px;
    width:fit-content;
    font-size: 17px;
}
header ul li :hover ,.home{
    color: #6fc754;
    transition: all 0.4s ;
}
body{
    background-image: url(../images/Project-name.jpg);
    background-repeat: no-repeat;
    background-position-x: center;

}
.start_page{
    background-color: rgba(16, 15, 15, 0.398);
    height: 400px;
}
.project_name{
    color: rgb(255, 255, 255);
    font-family: 'Montserrat',sans-serif;
    font-size: 10vh !important;
    font-weight: bold !important;
    text-align: center !important;
    margin-top: 3% ;
}
.border{
    content: '';
    display: block;
    margin-left: 46%;
    margin-top: 2.3%;
    height: 4px;
    width: 80px;
    border-top: 5px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
}
.content{
    display: flex;
    justify-content:center;
    margin-top: 2%;
    color: rgb(255, 255, 255);
}
.content p{
    margin-left: 8px;
    margin-right: 8px;
    font-size: 14px;
}
.po:hover,.ooo:hover{
    color: #6fc754;
    transition: all 0.4s ;
}
.im1,.im2,.im3{
    width: 100%;
    height: auto;
    margin-bottom: 1.5%;
    margin-left: 3.5%;
    margin-right: 2.2%;
}
.images{
    width: 170%;
}
.one{
    margin-top: 5%;
}
.DESCRIPTION{
    font-size: large;
    margin-bottom: 4%;
}
.first,.para ,.para2{
    display:flex;
    flex-direction: row;
}
.con{
    width: 100%;
    margin-left: 5%;
}
.con p{
    margin-top: 2%;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 300;
    color: #9fa3a7;
    line-height: 22px;
}
.na{
    color: black !important;
    font: weight 500 !important;
    font-size: 15px !important;
    margin-right: 1%;
}
.ty{
    margin-top: 8% !important;
    margin-bottom: 5% !important;
}
.vvv{
    background-color: #9f9f9f2f;
    color: black;
    border-radius: 20px;
    padding: 2.5%;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 18px !important;
}
.vvv:hover{
    background-color: #6fc754;
    color: rgb(255, 255, 255);
    transition: all 0.4s ;
}
.para2{
    margin-bottom: 9% !important;
}
.ulu{
    padding-top: 1%;
    margin-top: 4%;
    background-color: #f1eeee85;
}
.cards-con{
    margin-left: 0.5%;
}
.hhh1{
    margin-left: 1.8%;
    margin-top: 4.6%;
    margin-bottom: 2%;
    font-size: 43px;
}
.imm{
    width: 20px;
    margin-right: 1%;
}
.megteam-heading{
    color: rgb(101,54, 16) ;
}
.logo{

}
.logo a:hover{
    background-color:rgba(255, 255, 255, 0.506);
    color: rgb(94,77,0) ;
    padding-right: 1%;
    padding-top: 1.1%;
    padding-left: 0.3%;
    border-bottom-left-radius:  20px !important;
    border-top-left-radius:  20px !important;
    border-radius: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}
.im{
    border-radius: 60px;
}
@media (min-width: 767px) {
    .menu-icon{
        display: none;
    }
}
@media (max-width: 767px) {
    .xx ul{
    display: none;
    }
    .xx ,.logo{
    margin-top: 0px!important;
    line-height: 0px;
    }
    .project_name{
    font-size: 32px !important;
    padding-top: 0px !important;
    padding-bottom: 15px;
    }
    .content{
        padding-top:7px ;
    }
    .logo a{
        font-size: 16px !important;
    }
    .logo a:hover{
        padding-top: 0.1%;
        padding-left: 0%;
        padding-bottom: 0%;
        border-bottom-left-radius: 150px !important;
        border-top-left-radius: 150px !important;
        border-radius: 50px;
        padding-right: 0.7%;
        transition: all 0s;
    }
}
.menu-icon{
    margin: 20px 1%;
    width: 55px;
    height: 14px;
    cursor: pointer;
    position: relative;

}
.border{
    margin-left: 42%;
    margin-top: 4%;
}
.menu-icon span{
    background-color:azure;
    height: 3px;
    position: absolute;
    width: 20px;
    left: 0;
    transition: all 0.3s;
    z-index: 5;
}
.menu-icon span:first-child{
    top: 0px ;
    height: 2px;
}.menu-icon span:nth-child(2){
    top:7px;
    height: 2px !important;
}.menu-icon span:last-child{
    top:14px;
    height: 1px ;
}
.menu-icon.active span:nth-child(2){
    opacity: 0;
}
.menu-icon.active span:last-child,.menu-icon.active span:first-child{
    top:8px !important;
}
.menu-icon.active span:first-child{
    transform: rotate(45deg);
    height: 4px;
    background-color: black;
}
.menu-icon.active span:last-child{
    transform:rotate(-45deg);
    height: 4px;
    background-color: black;
}
.white{
    width: 100%;
    height: 100%;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    background-color: aliceblue;
    display: none;
}
.white.active{
    display: block;
}
.new-ul{
    display: grid !important;
    color: #1c0e0e;
    align-items: center;
    color: #000000;
    margin-top: 100px !important;
    padding: 0% ;

}
*{

}
.new-ul li{
    z-index: 4 !important;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    padding-bottom: 20px;
    height: auto;
    list-style: none;
    position: relative;
        display: none;
}

.new-ul li.active{
    display: block;
}

.new-ul li a{
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}
